openapi: 3.2.0
info:
  title: Unified Consent Core Config API
  description: '> **📍 Regional Distribution**

    > The UC Core API is regionally distributed.'
  version: 2.0.0
servers:
- url: https://uc.api.osano.com
security:
- ucApiKey: []
tags:
- name: Config
paths:
  /v2/config:
    get:
      description: Retrieves a UC config
      responses:
        '200':
          description: The UC config
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/def-20'
                description: The UC config
      tags:
      - Config
      summary: Get config
      x-summary-source: derived
      operationId: getV2Config
      x-operation-id-source: derived
components:
  schemas:
    def-17:
      type: object
      properties:
        manualTitle:
          type: string
        manualAgreeLabel:
          type: string
        manualDropdownPlaceholder:
          type: string
        manualDropdownLabel:
          type: string
        confirmationTitle:
          type: string
        confirmationDescriptionKnown:
          type: string
        confirmationDescriptionUnknown:
          type: string
        confirmationDropdownPlaceholder:
          type: string
        confirmationDropdownLabel:
          type: string
        confirmationAgreeLabel:
          type: string
      title: geolocation-modal
    def-18:
      type: object
      properties:
        title:
          type: string
        route:
          type: string
        key:
          type: string
      title: navigation-item
    def-10:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        continueAnonymouslyButton:
          type: string
        signUpButton:
          type: string
        verificationFactorInputTitle:
          type: string
        verificationFactorInputDescription:
          type: string
        emailSelector:
          type: string
        phoneSelector:
          type: string
        emailInputPlaceholder:
          type: string
        verificationFactorInputSubmitButton:
          type: string
      title: welcome-page
    def-13:
      type: object
      properties:
        title:
          type: string
        submitButton:
          type: string
        modalTitle:
          type: string
        modalDescription:
          type: string
        modalCloseButton:
          type: string
        modalNextButton:
          type: string
        modalNextDescription:
          type: string
        noConsentsTitle:
          type: string
        noConsentsDescription:
          type: string
        verificationFactorInputDescription:
          type: string
        emailInputLabel:
          type: string
        emailInputPlaceholder:
          type: string
        verificationFactorInputSubmitButton:
          type: string
        emailSelector:
          type: string
        phoneSelector:
          type: string
      title: consents-page
    def-7:
      type: object
      properties:
        connection:
          type: object
          properties:
            label:
              type: string
            value:
              type: string
        operation:
          type: object
          properties:
            label:
              type: string
            value:
              type: string
        additionalFields:
          type: boolean
        fields:
          type: object
        protocolValue:
          type: array
          items:
            type: string
      title: uc-integration
    def-19:
      type: object
      properties:
        title:
          type: string
        locale:
          type: string
        gpcBanner:
          type: boolean
        gpcBannerEnabledText:
          type: string
        gpcBannerDisabledText:
          type: string
        welcomeBackTitle:
          type: string
        welcomeBackDescription:
          type: string
        signOutLink:
          type: string
        welcomePage:
          $ref: '#/components/schemas/def-10'
        signUpPage:
          $ref: '#/components/schemas/def-12'
        consentsPage:
          $ref: '#/components/schemas/def-13'
        preferencesPage:
          $ref: '#/components/schemas/def-14'
        validationModal:
          $ref: '#/components/schemas/def-15'
        smsValidationModal:
          $ref: '#/components/schemas/def-16'
        geolocationModal:
          $ref: '#/components/schemas/def-17'
        navigationItems:
          type: array
          items:
            $ref: '#/components/schemas/def-18'
      title: cui-text-customization
    def-20:
      type: object
      properties:
        configId:
          type: string
        customerId:
          type: string
        name:
          type: string
        domains:
          type: array
          items:
            type: string
        privacyPolicyUrl:
          type: string
        privacyPolicyVersion:
          type: integer
        processingTime:
          type: integer
        processingUnit:
          type: string
        privacyProtocols:
          type: array
          items:
            $ref: '#/components/schemas/def-8'
        jurisdictionLookup:
          type: string
        homepageUrl:
          type: string
        created:
          type: string
        updated:
          type: string
        helpUrl:
          type: string
        frameworks:
          type: array
          items:
            type: string
        headings:
          $ref: '#/components/schemas/def-9'
        paragraphs:
          $ref: '#/components/schemas/def-9'
        links:
          $ref: '#/components/schemas/def-9'
        primaryButtons:
          $ref: '#/components/schemas/def-9'
        secondaryButtons:
          $ref: '#/components/schemas/def-9'
        gpcSignalBanner:
          $ref: '#/components/schemas/def-9'
        pageBackground:
          type: string
        published:
          type: string
        unpublishedPageId:
          type: integer
        publishedPageId:
          type: integer
        welcomePageEnabled:
          type: boolean
        smsVerificationEnabled:
          type: boolean
        cuiTextCustomizations:
          type: array
          items:
            $ref: '#/components/schemas/def-19'
      title: uc-config
    def-16:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        disclaimer:
          type: string
        inputLabel:
          type: string
        inputPlaceholder:
          type: string
        submitButton:
          type: string
        cancelButton:
          type: string
      title: sms-validation-modal
    def-14:
      type: object
      properties:
        title:
          type: string
        submitButton:
          type: string
        modalTitle:
          type: string
        modalDescription:
          type: string
        modalCloseButton:
          type: string
        modalNextButton:
          type: string
        modalNextDescription:
          type: string
        submitButtonDisabledDescription:
          type: string
        verificationFactorInputDescription:
          type: string
        emailInputLabel:
          type: string
        emailInputPlaceholder:
          type: string
        verificationFactorInputSubmitButton:
          type: string
        emailSelector:
          type: string
        phoneSelector:
          type: string
      title: preferences-page
    def-9:
      type: object
      properties:
        fontFamily:
          type: string
        color:
          type: string
        backgroundColor:
          type: string
      title: config-typography
    def-11:
      type: object
      properties:
        target:
          type: string
        label:
          type: string
        placeholder:
          type: string
        validationRegex:
          type: string
        fieldType:
          type: string
        errorMessage:
          type: string
      title: profile-field
    def-8:
      type: object
      properties:
        privacyProtocolId:
          type: string
        name:
          type: string
        type:
          type: string
        integrations:
          type: array
          items:
            $ref: '#/components/schemas/def-7'
        enabled:
          type: boolean
        trigger:
          type: string
      title: privacy-protocol
    def-15:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        disclaimer:
          type: string
        inputLabel:
          type: string
        inputPlaceholder:
          type: string
        submitButton:
          type: string
        cancelButton:
          type: string
      title: validation-modal
    def-12:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        cancelButton:
          type: string
        submitButton:
          type: string
        emailInputLabel:
          type: string
        emailInputRequiredText:
          type: string
        emailInputPlaceholder:
          type: string
        backButton:
          type: string
        profileFields:
          type: array
          items:
            $ref: '#/components/schemas/def-11'
        emailSelector:
          type: string
        phoneSelector:
          type: string
        phoneInputLabel:
          type: string
      title: sign-up-page
  securitySchemes:
    ucApiKey:
      description: Unified Consent API key
      type: apiKey
      name: x-uc-api-key
      in: header
    osanoApiKey:
      description: Osano API key
      type: apiKey
      name: x-osano-api-key
      in: header
