openapi: 3.2.0
info:
  title: Osano API Reference Connectors API
  version: 1.0.0
  description: '# Introduction

    This is the Osano API.'
  x-logo:
    url: https://www.osano.com/hubfs/Imported%20images/Logo.svg
    altText: Osano
servers:
- url: https://api.osano.com
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Connectors
  x-displayName: Data Mapping Connectors
paths:
  /v1/data-discovery/connectors:
    get:
      summary: List Connectors
      description: Returns a detailed list of connectors by type (On-Prem or SaaS) available in the Osano platform.
      tags:
      - Connectors
      operationId: getConnectors
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/nextTokenParam'
      - $ref: '#/components/parameters/productNameParam'
      - $ref: '#/components/parameters/connectorTypeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Connector:
      type: object
      additionalProperties: false
      required:
      - connectorId
      - productName
      - authType
      properties:
        connectorId:
          type: integer
          format: int32
        productName:
          type: string
        authType:
          type: string
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
    ConnectorList:
      type: object
      additionalProperties: false
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Connector'
        next:
          type: string
          description: A token which may be appended to subsequent requests to retrieve the next page of results, i.e. ?next=...
  parameters:
    limitParam:
      name: limit
      required: false
      in: query
      description: The number of items to return.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 100
    connectorTypeParam:
      name: type
      required: false
      in: query
      description: The type of Connectors to be returned.  By default, all Connectors are returned.
      schema:
        type: string
        enum:
        - saas
        - onprem
    productNameParam:
      name: name
      required: false
      in: query
      description: Product name to filter by.  This may return partial matches.
      schema:
        type: string
        maxLength: 64
    nextTokenParam:
      name: next
      required: false
      in: query
      description: The pagination token from the previous request.
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-osano-api-key
x-tagGroups:
- name: General
  tags:
  - cmp
  - cmpRules
  - connectors
  - dsar
  - dataDiscovery
  - dsarActionItems
  - subjectRightsPortal
  - customerInsights
