openapi: 3.2.0
info:
  title: Osano API Reference Customer Insights API
  version: 1.0.0
  description: '# Introduction

    This is the Osano API. Use of this API is subject to the Osano API Terms of Service.


    # Authentication

    The Osano API uses API keys to authenticate requests that are generated on a per-user basis. All calls require a valid, unexpired API key.


    API keys may be generated within the [Osano settings -> API Keys](https://my.osano.com/api-keys) page. You must be an admin or have the correct privileges to generate an API key.


    Once generated, the API key should be included in the `x-osano-api-key` header of all requests.  For example:


    ```

    curl --header ''x-osano-api-key: <API_KEY>'' https://api.osano.com/v1/<API_PATH>

    ```

    # Pagination, Limits, and Sorting

    Except where noted, all "list" resources will be sorted in descending order by creation time, and this may not be changed.  The number of results returned may be controlled via the limit param, but may not exceed 500.


    Within the response of each "list" API call, there will be a "next" field, which represents the pagination token.  This token may be added as a query parameter, i.e. ?next=<...> to retrieve subsequent pages of the same resource.

    '
  x-logo:
    url: https://www.osano.com/hubfs/Imported%20images/Logo.svg
    altText: Osano
servers:
- url: https://api.osano.com
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: customerInsights
  x-displayName: Customer Insights
paths:
  /v1/customer-insights:
    get:
      summary: Compliance API
      description: Insights returning entitlements and spotlight metrics for a given customer
      tags:
      - customerInsights
      operationId: getCustomerInsights
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/responses/CustomerInsightsResponseList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  responses:
    CustomerInsightsResponseList:
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                $ref: '#/components/schemas/CustomerInsights'
  schemas:
    CustomerInsights:
      type: object
      minProperties: 2
      properties:
        entitlements:
          type: object
          description: Products enabled for the customer.
        products:
          type: object
          description: Spotlight product-related metrics for the customer.
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-osano-api-key
x-tagGroups:
- name: General
  tags:
  - cmp
  - cmpRules
  - connectors
  - dsar
  - dataDiscovery
  - dsarActionItems
  - subjectRightsPortal
  - customerInsights
