openapi: 3.2.0
info:
  title: Unified Consent Core Consent Profiles API
  description: '> **📍 Regional Distribution**

    > The UC Core API is regionally distributed.'
  version: 2.0.0
servers:
- url: https://uc.api.osano.com
security:
- ucApiKey: []
tags:
- name: Consent Profiles
paths:
  /v2/consent-profiles/{hashedSubjectId}:
    get:
      description: Retrieves the unified consent for a subject.
      parameters:
      - schema:
          type: string
          minLength: 1
        in: query
        name: configId
        required: true
      - schema:
          type: string
        in: path
        name: hashedSubjectId
        required: true
      - schema:
          type: string
        in: header
        name: x-country-code-override
        required: false
        description: Valid ISO 3166-1 country code to override the country resolution based on the IP address.
      - schema:
          type: string
        in: header
        name: x-region-code-override
        required: false
        description: Valid ISO 3166-2 region code to override the region resolution based on the IP address
      responses:
        '200':
          description: Valid unified consent.
          content:
            application/json:
              schema:
                type: object
                description: Valid unified consent.
                properties:
                  unifiedConsent:
                    $ref: '#/components/schemas/def-4'
                  conflicts:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-3'
        '400':
          description: No consents found for the subject
      tags:
      - Consent Profiles
      summary: Get consent profiles by hashed subject id
      x-summary-source: derived
      operationId: getV2ConsentProfilesByHashedSubjectId
      x-operation-id-source: derived
components:
  schemas:
    def-4:
      type: object
      required:
      - subjectId
      - brandId
      - actions
      - attributes
      properties:
        subjectId:
          type: string
        brandId:
          type: string
        channelIds:
          type: array
          items:
            type: string
        compliance:
          $ref: '#/components/schemas/def-0'
        actions:
          type: array
          items:
            type: object
            required:
            - target
            - vendor
            - action
            properties:
              target:
                type: string
              vendor:
                type: string
              action:
                type: string
        attributes: {}
        lastUpdateDate:
          type: string
        lastConflictDate:
          type: string
      title: unified-consent
    def-0:
      type: object
      properties:
        privacyPolicy:
          type: object
          required:
          - url
          properties:
            version:
              type: string
            url:
              type: string
        gpc:
          type: integer
          minimum: 0
          maximum: 1
      title: compliance
    def-3:
      type: object
      properties:
        type:
          type: string
        resolution:
          type: string
        actionsInConflict:
          type: array
          items:
            type: object
            properties:
              target:
                type: string
              vendor:
                type: string
              action:
                type: string
              consentId:
                type:
                - string
                - 'null'
              channelId:
                type:
                - string
                - 'null'
              createdAt:
                type:
                - string
                - 'null'
      title: conflict
  securitySchemes:
    ucApiKey:
      description: Unified Consent API key
      type: apiKey
      name: x-uc-api-key
      in: header
    osanoApiKey:
      description: Osano API key
      type: apiKey
      name: x-osano-api-key
      in: header
