openapi: 3.2.0
info:
  title: Unified Consent Core Collections API
  description: '> **📍 Regional Distribution**

    > The UC Core API is regionally distributed.'
  version: 2.0.0
servers:
- url: https://uc.api.osano.com
security:
- ucApiKey: []
tags:
- name: Collections
paths:
  /v2/collections:
    get:
      summary: Retrieves all collections for a given configId based on jurisdiction
      description: 'Uses the configId embedded in the Unified Consent API key to retrieve an aggregrate of all

        applicable collections of privacy protocols for a given jurisdiction. The type can either be ''draft'' or ''published''.

        If the type is not provided, the default is ''published''. If the jurisdiction is not provided, IP geolocation is used

        to determine the jurisdiction.'
      parameters:
      - schema:
          type: string
        in: query
        name: jurisdiction
        required: false
      - schema:
          type: string
          enum:
          - published
          - draft
          default: published
        in: query
        name: type
        required: false
      responses:
        '200':
          description: The collections matching the query and all available and available jurisdictions
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/def-6'
                description: The collections matching the query and all available and available jurisdictions
      tags:
      - Collections
      operationId: getV2Collections
      x-operation-id-source: derived
  /v2/collections/{collectionId}:
    get:
      summary: Retrieves a collection of privacy protocols
      description: Retrieves a collection of privacy protocols by id
      parameters:
      - schema:
          type: string
        in: path
        name: collectionId
        required: true
      responses:
        '200':
          description: The collection
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/def-5'
                description: The collection
      tags:
      - Collections
      operationId: getV2CollectionsByCollectionId
      x-operation-id-source: derived
components:
  schemas:
    def-6:
      type: object
      properties:
        jurisdictions:
          type: array
          items:
            type: string
        collection:
          $ref: '#/components/schemas/def-5'
      title: config-collections-response
    def-5:
      type: object
      properties:
        collectionId:
          type: string
        name:
          type: string
        frameworks:
          type: array
          items:
            type: string
        configIds:
          type: array
          items:
            type: string
        jurisdiction:
          type: string
        created:
          type: string
        updated:
          type: string
        type:
          type: string
        consents:
          type: array
          items:
            type: object
            additionalProperties: true
        preferences:
          type: array
          items:
            type: object
            additionalProperties: true
      title: config-collection
  securitySchemes:
    ucApiKey:
      description: Unified Consent API key
      type: apiKey
      name: x-uc-api-key
      in: header
    osanoApiKey:
      description: Osano API key
      type: apiKey
      name: x-osano-api-key
      in: header
