openapi: 3.2.0
info:
  title: Unified Consent Core Config API
  description: "> **\U0001F4CD Regional Distribution**  \n> The UC Core API is regionally distributed. Requests originating from the United States are processed in us-east-1, while requests from all other regions are processed in eu-central-1.\n\n# Introduction\n\nThe Unified Consent Core API is a REST API to interact with the Osano Unified Consent platform. Before use, you must sign up at <https://osano.com>. You are bound by the Osano terms of service and limits placed by those terms. All interactions with the API require authentication using an Osano API key, or a Unified Consent API key in the `x-osano-api-key` and `x-uc-api-key` headers respectively. They are detailed in the \"Authentication\" section.\n\n```sh\ncurl --header 'x-uc-api-key: <API_KEY>' https://uc.api.osano.com/v2/consents/check/some-subject-id\n```\n\n## Versioning\n\nAll resources are versioned according to semantic versioning with the major version being specified in the endpoints URI such as `v2`.\n\nAll major versioning will maintain backwards compatibility in that major version. Resources may add new minor versions that are not specified in the URI. The minor versions will never break backward compatibility but may add new resources or enhancements. The enhancements may include new data in the schema. We will never remove data from a schema in the same major version. To prevent your scripts or applications from breaking due to newly added data, do not error on unexpected data.\n\nWe will make a best effort to notify users when we release new major versions. We will deprecate the previous major version. Major versions may have breaking changes from previous versions such as schema changes or resource removal. All users should upgrade to the new major version in a timely manner.\n\n## Authentication\n\nThe Unified Consent Core API uses API keys to authenticate requests that are generated on a per-user basis. All calls require a valid, unexpired API key. There are two types of API keys that can be used with the Unified Consent Core API. They are the Osano API key and the Unified Consent API key. Routes that involve creating, updating, or merging subjects require the Osano API key. All other routes require the Unified Consent API key.\n\n### Osano API key\n\nOsano API keys may be generated within the [Osano settings -> API Keys](https://my.osano.com/api-keys) page. You must be an admin or have the correct privileges to generate an API key.\n\nOnce generated, the API key should be included in the `x-osano-api-key` header of all that involve creating, updating, or merging subjects. For example:\n\n```sh\ncurl --location 'https://uc.api.osano.com/v2/subject/merge' \\\n--header 'x-osano-api-key: <API_KEY>' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"sourceSubjectId\": \"some-source-subject-id\",\n    \"targetSubjectId\": \"some-target-subject-id\"\n}'\n```\n\n### Unified Consent API key\n\nUnified Consent API keys may be generated by using the `/v2/token/create` route. First gather the `configId` and the `customerId` from the Configuration details page. (Select the desired Configuration from the [Configurations list](https://my.osano.com/consent/panels) page) For example:\n\n```sh\ncurl --location 'https://uc.api.osano.com/v2/token/create' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"customerId\": \"some-customer-id\",\n    \"configId\": \"some-config-id\"\n}'\n```\n\nNote: Unified Consent API keys are scoped to a single Configuration, and will not work to submit consents for another Configuration\n\n## Submitting a consent\n\nThe following type describes the body of the request to create a consent. If submitting a GPC request, the actions array in the payload will be ignored and can be omitted. GPC actions are calculated internally based on the configured privacy protocols and the provided or detected geolocation:\n\n```ts\ntype CreateConsentRequest = {\n  compliance?: {\n    privacyPolicy?: {\n      version?: string // The privacy policy version active at the time of submitting the consent\n      url: string // The URL of the privacy policy\n    }\n    gpc?: number // 1 if GPC is enabled, 0 otherwise\n  }\n  subject: {\n    verifiedId?: string // If the subject is verified, provide the subject's verified ID\n    anonymousId?: string // If the subject is anonymous, provide the subject's anonymous ID\n  }\n  jurisdiction?: string | null // The applicable jurisdiction for the subject. Must be one of the configured jurisdictions, or null if none are applicable. Does not affect conflict resolution if omitted, but other features such as consent search may be affected.\n  actions: [\n    {\n      target: string // The privacy protocol ID to submit consent for.\n      vendor: string // The UC configuration ID to associate with the consent.\n      action: string // The subject's consent choice for the privacy protocol. Possble values: 'ACCEPT' | 'REJECT' | 'UNSELECTED'\n      jurisdiction?: string | null // The applicable jurisdiction for the subject. Must be one of the configured jurisdictions, or null if none are applicable. Does not affect conflict resolution if omitted, but other features such as consent search may be affected. Will override the top level jurisdiction if set.\n    },\n  ]\n  tags: string[] // Tags associated with the consent. Can be any string. Ex: ['ccpa', 'tcpa']\n  attributes: { [key: string]: any } // Attributes associated with the consent. `ipAddress` and `userAgent` are automatically populated, and values passed for those keys here will be overwritten.\n  origin?: 'api' | 'gpc' // If submitting a GPC consent, use 'gpc', otherwise use 'api'\n}\n```\n\nApplicable jurisdictions for a UC configuration can be determined by making a request to the `/v2/collections` endpoint.\n\nTo populate the `target` and `vendor` values for a consent it is necessary to determine the privacy protocol ID and the UC configuration ID respectively.\n\n### Finding the UC configuration ID\n\nTo find the UC configuration ID, navigate to the [UC configurations page](https://my.osano.dev/unified-consent/configs). Click on the desired configuration to open the configuration details page. Click on the \"Developers\" tab, revealing the Config ID.\n\n### Finding the privacy protocol ID\n\nTo find the privacy protocol ID, follow the steps above to open the desired UC configuration's details page. Click on the \"Privacy Protocols\" tab. From the list of privacy protocols, pick the desired privacy protocol and click the pencil icon to open the \"Edit Privacy Protocol\" modal. There you will find the Target ID, which is the privacy protocol ID.\n"
  version: 2.0.0
servers:
- url: https://uc.api.osano.com
security:
- ucApiKey: []
tags:
- name: Config
paths:
  /v2/config:
    get:
      description: Retrieves a UC config
      responses:
        '200':
          description: The UC config
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/def-20'
                description: The UC config
      tags:
      - Config
components:
  schemas:
    def-11:
      type: object
      properties:
        target:
          type: string
        label:
          type: string
        placeholder:
          type: string
        validationRegex:
          type: string
        fieldType:
          type: string
        errorMessage:
          type: string
      title: profile-field
    def-9:
      type: object
      properties:
        fontFamily:
          type: string
        color:
          type: string
        backgroundColor:
          type: string
      title: config-typography
    def-20:
      type: object
      properties:
        configId:
          type: string
        customerId:
          type: string
        name:
          type: string
        domains:
          type: array
          items:
            type: string
        privacyPolicyUrl:
          type: string
        privacyPolicyVersion:
          type: integer
        processingTime:
          type: integer
        processingUnit:
          type: string
        privacyProtocols:
          type: array
          items:
            $ref: '#/components/schemas/def-8'
        jurisdictionLookup:
          type: string
        homepageUrl:
          type: string
        created:
          type: string
        updated:
          type: string
        helpUrl:
          type: string
        frameworks:
          type: array
          items:
            type: string
        headings:
          $ref: '#/components/schemas/def-9'
        paragraphs:
          $ref: '#/components/schemas/def-9'
        links:
          $ref: '#/components/schemas/def-9'
        primaryButtons:
          $ref: '#/components/schemas/def-9'
        secondaryButtons:
          $ref: '#/components/schemas/def-9'
        gpcSignalBanner:
          $ref: '#/components/schemas/def-9'
        pageBackground:
          type: string
        published:
          type: string
        unpublishedPageId:
          type: integer
        publishedPageId:
          type: integer
        welcomePageEnabled:
          type: boolean
        smsVerificationEnabled:
          type: boolean
        cuiTextCustomizations:
          type: array
          items:
            $ref: '#/components/schemas/def-19'
      title: uc-config
    def-12:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        cancelButton:
          type: string
        submitButton:
          type: string
        emailInputLabel:
          type: string
        emailInputRequiredText:
          type: string
        emailInputPlaceholder:
          type: string
        backButton:
          type: string
        profileFields:
          type: array
          items:
            $ref: '#/components/schemas/def-11'
        emailSelector:
          type: string
        phoneSelector:
          type: string
        phoneInputLabel:
          type: string
      title: sign-up-page
    def-13:
      type: object
      properties:
        title:
          type: string
        submitButton:
          type: string
        modalTitle:
          type: string
        modalDescription:
          type: string
        modalCloseButton:
          type: string
        modalNextButton:
          type: string
        modalNextDescription:
          type: string
        noConsentsTitle:
          type: string
        noConsentsDescription:
          type: string
        verificationFactorInputDescription:
          type: string
        emailInputLabel:
          type: string
        emailInputPlaceholder:
          type: string
        verificationFactorInputSubmitButton:
          type: string
        emailSelector:
          type: string
        phoneSelector:
          type: string
      title: consents-page
    def-19:
      type: object
      properties:
        title:
          type: string
        locale:
          type: string
        gpcBanner:
          type: boolean
        gpcBannerEnabledText:
          type: string
        gpcBannerDisabledText:
          type: string
        welcomeBackTitle:
          type: string
        welcomeBackDescription:
          type: string
        signOutLink:
          type: string
        welcomePage:
          $ref: '#/components/schemas/def-10'
        signUpPage:
          $ref: '#/components/schemas/def-12'
        consentsPage:
          $ref: '#/components/schemas/def-13'
        preferencesPage:
          $ref: '#/components/schemas/def-14'
        validationModal:
          $ref: '#/components/schemas/def-15'
        smsValidationModal:
          $ref: '#/components/schemas/def-16'
        geolocationModal:
          $ref: '#/components/schemas/def-17'
        navigationItems:
          type: array
          items:
            $ref: '#/components/schemas/def-18'
      title: cui-text-customization
    def-7:
      type: object
      properties:
        connection:
          type: object
          properties:
            label:
              type: string
            value:
              type: string
        operation:
          type: object
          properties:
            label:
              type: string
            value:
              type: string
        additionalFields:
          type: boolean
        fields:
          type: object
        protocolValue:
          type: array
          items:
            type: string
      title: uc-integration
    def-8:
      type: object
      properties:
        privacyProtocolId:
          type: string
        name:
          type: string
        type:
          type: string
        integrations:
          type: array
          items:
            $ref: '#/components/schemas/def-7'
        enabled:
          type: boolean
        trigger:
          type: string
      title: privacy-protocol
    def-14:
      type: object
      properties:
        title:
          type: string
        submitButton:
          type: string
        modalTitle:
          type: string
        modalDescription:
          type: string
        modalCloseButton:
          type: string
        modalNextButton:
          type: string
        modalNextDescription:
          type: string
        submitButtonDisabledDescription:
          type: string
        verificationFactorInputDescription:
          type: string
        emailInputLabel:
          type: string
        emailInputPlaceholder:
          type: string
        verificationFactorInputSubmitButton:
          type: string
        emailSelector:
          type: string
        phoneSelector:
          type: string
      title: preferences-page
    def-15:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        disclaimer:
          type: string
        inputLabel:
          type: string
        inputPlaceholder:
          type: string
        submitButton:
          type: string
        cancelButton:
          type: string
      title: validation-modal
    def-17:
      type: object
      properties:
        manualTitle:
          type: string
        manualAgreeLabel:
          type: string
        manualDropdownPlaceholder:
          type: string
        manualDropdownLabel:
          type: string
        confirmationTitle:
          type: string
        confirmationDescriptionKnown:
          type: string
        confirmationDescriptionUnknown:
          type: string
        confirmationDropdownPlaceholder:
          type: string
        confirmationDropdownLabel:
          type: string
        confirmationAgreeLabel:
          type: string
      title: geolocation-modal
    def-18:
      type: object
      properties:
        title:
          type: string
        route:
          type: string
        key:
          type: string
      title: navigation-item
    def-16:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        disclaimer:
          type: string
        inputLabel:
          type: string
        inputPlaceholder:
          type: string
        submitButton:
          type: string
        cancelButton:
          type: string
      title: sms-validation-modal
    def-10:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        continueAnonymouslyButton:
          type: string
        signUpButton:
          type: string
        verificationFactorInputTitle:
          type: string
        verificationFactorInputDescription:
          type: string
        emailSelector:
          type: string
        phoneSelector:
          type: string
        emailInputPlaceholder:
          type: string
        verificationFactorInputSubmitButton:
          type: string
      title: welcome-page
  securitySchemes:
    ucApiKey:
      description: Unified Consent API key
      type: apiKey
      name: x-uc-api-key
      in: header
    osanoApiKey:
      description: Osano API key
      type: apiKey
      name: x-osano-api-key
      in: header
