openapi: 3.2.0
info:
  title: Osano API Reference Customer Insights API
  version: 1.0.0
  description: '# Introduction

    This is the Osano API.'
  x-logo:
    url: https://www.osano.com/hubfs/Imported%20images/Logo.svg
    altText: Osano
servers:
- url: https://api.osano.com
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: customerInsights
  x-displayName: Customer Insights
paths:
  /v1/customer-insights:
    get:
      summary: Compliance API
      description: Insights returning entitlements and spotlight metrics for a given customer
      tags:
      - customerInsights
      operationId: getCustomerInsights
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/responses/CustomerInsightsResponseList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  responses:
    CustomerInsightsResponseList:
      description: Success
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                $ref: '#/components/schemas/CustomerInsights'
  schemas:
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
    CustomerInsights:
      type: object
      minProperties: 2
      properties:
        entitlements:
          type: object
          description: Products enabled for the customer.
        products:
          type: object
          description: Spotlight product-related metrics for the customer.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-osano-api-key
x-tagGroups:
- name: General
  tags:
  - cmp
  - cmpRules
  - connectors
  - dsar
  - dataDiscovery
  - dsarActionItems
  - subjectRightsPortal
  - customerInsights
