openapi: 3.2.0
info:
  title: Unified Consent Core Sessions API
  description: '> **📍 Regional Distribution**

    > The UC Core API is regionally distributed.'
  version: 2.0.0
servers:
- url: https://uc.api.osano.com
security:
- ucApiKey: []
tags:
- name: Sessions
paths:
  /v2/sessions/{sessionId}:
    get:
      parameters:
      - schema:
          type: string
        in: path
        name: sessionId
        required: true
        description: A valid session id.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    type: object
                    properties:
                      verifiedId:
                        type: string
                  profile:
                    type: object
                    properties:
                      email:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
      tags:
      - Sessions
      summary: Get sessions by session id
      x-summary-source: derived
      operationId: getV2SessionsBySessionId
      x-operation-id-source: derived
components:
  securitySchemes:
    ucApiKey:
      description: Unified Consent API key
      type: apiKey
      name: x-uc-api-key
      in: header
    osanoApiKey:
      description: Osano API key
      type: apiKey
      name: x-osano-api-key
      in: header
