openapi: 3.2.0
info:
  title: Unified Consent Core Subjects API
  description: '> **📍 Regional Distribution**

    > The UC Core API is regionally distributed.'
  version: 2.0.0
servers:
- url: https://uc.api.osano.com
security:
- ucApiKey: []
tags:
- name: Subjects
paths:
  /v2/subjects/{subjectRef}:
    get:
      description: Retrieves subject by id or from a valid session
      parameters:
      - schema:
          type: string
          enum:
          - subject
          - session
        in: query
        name: ref
        required: false
        description: Indicates what type of reference is provided for the subject. Supports a subject id or a session id.
      - schema:
          type: string
        in: path
        name: subjectRef
        required: true
        description: Anonymous id, verified id, or a valid session id.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  verifiedId:
                    type: string
                  anonymousId:
                    type: string
      tags:
      - Subjects
      summary: Get subjects by subject ref
      x-summary-source: derived
      operationId: getV2SubjectsBySubjectRef
      x-operation-id-source: derived
  /v2/subjects/merge:
    post:
      description: Merge subjects (an anonymous and a verified)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - sourceSubjectId
              - targetSubjectId
              properties:
                sourceSubjectId:
                  type: string
                  minLength: 1
                targetSubjectId:
                  type: string
                  minLength: 1
        required: true
      parameters:
      - schema:
          type: string
          enum:
          - application/json
        in: header
        name: content-type
        required: true
        description: The payload is a valid serialized JSON object
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: string
                pattern: OK
      tags:
      - Subjects
      summary: Create subjects merge
      x-summary-source: derived
      operationId: postV2SubjectsMerge
      x-operation-id-source: derived
  /v2/subjects/profile/verify:
    post:
      description: Verify a subject profile using Email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - code
              properties:
                email:
                  type: string
                  minLength: 1
                  format: email
                  normalizeEmail: true
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
        required: true
      parameters:
      - schema:
          type: string
          enum:
          - application/json
        in: header
        name: content-type
        required: true
        description: The payload is a valid serialized JSON object
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  verifiedId:
                    type: string
      tags:
      - Subjects
      summary: Create subjects profile verify
      x-summary-source: derived
      operationId: postV2SubjectsProfileVerify
      x-operation-id-source: derived
  /v2/subjects/profile/verify/sms:
    post:
      description: Verify a subject profile using SMS
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - phone
              - code
              - session
              properties:
                phone:
                  type: string
                  minLength: 1
                  phone: true
                code:
                  type: string
                  minLength: 8
                  maxLength: 8
                session:
                  type: string
                  minLength: 1
        required: true
      parameters:
      - schema:
          type: string
          enum:
          - application/json
        in: header
        name: content-type
        required: true
        description: The payload is a valid serialized JSON object
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  verifiedId:
                    type: string
      tags:
      - Subjects
      summary: Create subjects profile verify sms
      x-summary-source: derived
      operationId: postV2SubjectsProfileVerifySms
      x-operation-id-source: derived
  /v2/subjects/{id}/profile:
    get:
      description: Get a subject profile
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                  subjectId:
                    type: string
      tags:
      - Subjects
      summary: Get subjects by id profile
      x-summary-source: derived
      operationId: getV2SubjectsByIdProfile
      x-operation-id-source: derived
  /v2/subjects/send-code:
    post:
      description: Sends a verification email to a subject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  minLength: 1
                  format: email
                  normalizeEmail: true
        required: true
      parameters:
      - schema:
          type: string
          enum:
          - application/json
        in: header
        name: content-type
        required: true
        description: The payload is a valid serialized JSON object
      responses:
        '200':
          description: Default Response
      tags:
      - Subjects
      summary: Create subjects send code
      x-summary-source: derived
      operationId: postV2SubjectsSendCode
      x-operation-id-source: derived
  /v2/subjects/send-code/sms:
    post:
      description: Send a verification text to a subject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - phone
              properties:
                phone:
                  type: string
                  minLength: 1
                  phone: true
        required: true
      parameters:
      - schema:
          type: string
          enum:
          - application/json
        in: header
        name: content-type
        required: true
        description: The payload is a valid serialized JSON object
      responses:
        '200':
          description: Default Response
      tags:
      - Subjects
      summary: Create subjects send code sms
      x-summary-source: derived
      operationId: postV2SubjectsSendCodeSms
      x-operation-id-source: derived
  /v2/subjects/profile/verification-code:
    post:
      description: Create profile verification code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  minLength: 1
                  format: email
                  normalizeEmail: true
        required: true
      parameters:
      - schema:
          type: string
          enum:
          - application/json
        in: header
        name: content-type
        required: true
        description: The payload is a valid serialized JSON object
      security:
      - osanoApiKey: []
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
      tags:
      - Subjects
      summary: Create subjects profile verification code
      x-summary-source: derived
      operationId: postV2SubjectsProfileVerificationCode
      x-operation-id-source: derived
  /v2/subjects/profile:
    post:
      description: Create and insert a subject profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  normalizeEmail: true
                phone:
                  type: string
                  phone: true
                profile:
                  type: object
      parameters:
      - schema:
          type: string
          enum:
          - subject
          - session
        in: query
        name: resultType
        required: false
      - schema:
          type: string
          enum:
          - application/json
        in: header
        name: content-type
        required: true
        description: The payload is a valid serialized JSON object
      security:
      - osanoApiKey: []
      responses:
        '200':
          description: Default Response
      tags:
      - Subjects
      summary: Create subjects profile
      x-summary-source: derived
      operationId: postV2SubjectsProfile
      x-operation-id-source: derived
components:
  securitySchemes:
    ucApiKey:
      description: Unified Consent API key
      type: apiKey
      name: x-uc-api-key
      in: header
    osanoApiKey:
      description: Osano API key
      type: apiKey
      name: x-osano-api-key
      in: header
